<div id="help-container">
  <p>Having trouble?</p>
  <a id="video1" class="btn orange" role="button" href="https://vimeo.com/262276112/3de86f3ddc"><span>Full Screen Video</span></a>
</div>

<a-scene embedded arjs='debugUIEnabled: false;'> 
	<a-assets>
    <% video_url = (@client == 'test') ? 'https://ucarecdn.com/4130c599-445f-4e76-9052-49978e972641/' : asset_path("videos/#{@client}.mp4") %>
		<video id="video1player" class="video-player" src='<%= video_url %>' preload="auto" playsinline controls></video>
	</a-assets>
  <a-marker type='pattern' url='<%= asset_url("/markers/#{@client}.patt") %>'>
		<a-video id="inputVideo" src="#video1player" rotation="280 0 0" position="0 .2 0"></a-video>
  </a-marker>
  <a-camera-static/>
</a-scene>