<% content_for :title_tag do %>
  <title><%= @item.name %></title>
<% end %>
<% content_for :description_tag do %>
  <title><%= @item.description %></title>
<% end %>

<a-scene embedded="" arjs="debugUIEnabled: false;" inspector="" keyboard-shortcuts="" screenshot="" vr-mode-ui="" device-orientation-permission-ui="">
  <a-assets>
    <a-asset-item id="scene" src='<%= asset_path("#{@item.slug}/#{@item.gltf}") %>'></a-asset-item>
  </a-assets>
  <a-marker preset="custom" type='pattern' url='<%= asset_url("#{@item.slug}.patt") %>'>
    <a-entity gltf-model="#scene" scale=".03 .03 .03" rotation="0 0 245"></a-entity>
  </a-marker>
<a-entity camera=""></a-entity>